[submodule "common_core/ms-0/libft"]
	path = common_core/ms-0/libft
	url = git@github.com:Gitmard/libft.git
[submodule "common_core/ms-1/ft_printf"]
	path = common_core/ms-1/ft_printf
	url = git@github.com:Gitmard/ft_printf.git
